<h1>Dashboard</h1>
<table class="table table-hover table-bordered">
  <tr>
    <td>Products:</td>
    <td> <%= @products_nr %> </td>
    <td> <%= link_to 'See Products', controller: 'products' %> </td>
  </tr>
  <tr>
    <td>Categories:</td>
    <td><%= @categories_nr %></td>
    <td> 
    <% @categories.each do |cat| %>
      <%= link_to "See #{cat.name}", @categories.find(id=cat.id) %> <br/>
    <% end %>
    </td>
  </tr>
</table>


