<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% if !@products %>
    <%=render 'with_products' %>
    
  <% else %>
    <%= render 'empty' %>
  <% end %>

</section>
